* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
  padding-top: 30px;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

header h1 {
  font-weight: 300;
  margin-left: 10px;
}

/* Form and input*/

form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

#error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

input[type='text'] {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

button[type='submit'] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 8px 15px;
  font-size: 16px;
  cursor: pointer;
}

button[type='submit']:hover {
  background-color: #0056b3;
}

#filterInput {
  margin-top: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  padding: 5px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 3px;
}

li .item-text {
  flex: 1;
  font-size: 16px;
}

li button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

li button.editBtn {
  background-color: #ffc107;
  margin-right: 10px;
}

li button:hover {
  background-color: #c82333;
}

#clearBtn {
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 8px 15px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

#clearBtn:hover {
  background-color: #218838;
}
